.header{
    background: hsl(194, 57%, 35%);
    height:90px;
    .title
    {
        color: rgb(0, 0, 0);
        font-size: 200%;
        padding: 30px;
        text-align: center;
        text-shadow: 10cm;
        text-decoration: underline;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}